@model List<PA.Data.Models.PAX.Category>

@{
    var category = (PA.Data.Models.PAX.Category)ViewBag.Category;
    ViewBag.Title = " - " + category.Name;
}

<h3>@category.Name</h3>

<div class="@*submenu submenu1 mega-menu*@" style="display:block !important;">
    <div class="row">
        @foreach (var cat in Model.Where(x => x.ParentID == category.CategoryID))
        {
            <div class="widget-custom-menu col-xs-12 col-sm-12 col-md-3">
                <h5 class="title widgettitle"><a href="@Url.Action("cat", new { lang = ViewContext.RouteData.Values["lang"], id = cat.CategoryID })"> @cat.Name</a></h5>
                @foreach (var item in Model.Where(x => x.ParentID == cat.CategoryID).ToList())
                {
                <ul>
                    <li><a href='@Url.Action("cat", new { lang = ViewContext.RouteData.Values["lang"], id = @item.CategoryID })'>@item.Name</a></li>
                </ul>
                }
            </div>
        }
    </div>
</div>