@using PaWebsite.Resources
@{
    Layout = null;
}


@*<ul class="menu-topbar top-links">
    <li><a href="@Url.Action("Login", "Home", new { culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name.Substring(0,2)})">@Resurs.Register / @Resurs.Login</a></li>
    <li><a href="@Url.Action("News", "Home", new { culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name.Substring(0,2)})">@Resurs.News</a></li>
    <li><a href="@Url.Action("Store", "Home", new { culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name.Substring(0,2)})">@Resurs.Store</a></li>
    <li><a href="@Url.Action("About", "Home", new { culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name.Substring(0,2)})">@Resurs.About</a></li>
</ul>*@